#resume{
    overflow: hidden;
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
h1{
    font-weight: 600;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    padding-top: 15%;
}
p{
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 400;

}
.downloadbtn{
    background: rgb(38 76 116);
    color: white;
    border-radius: 1.5rem;
    height: 3rem;
    width: 8rem;
    padding: 0 auto;
    margin: auto;

}
.resumeImg{
    height: 35rem;
    width: 100%;
    max-width: 700px;
    margin: auto;
    margin-bottom: 0.5rem;
}

@media screen  and (max-width: 720px) {
    .resume{
        height: 55rem;
        width: 50rem;
    }
    h1{
        font-size: 1.5rem;
        padding-left: 55%;
    }
    p{
        font-size:0.5rem;

    }
    .downloadbtn{
        height: 2rem;
        width: 3rem;
    }

}
@media screen  and (max-width: 480px) {
    .resumeImg{
        width: 80%;
        height: auto;
    }
    .downloadbtn{
        width: 100px;
        height: 40px;
    }
    h1,p{
        text-align: center;
        padding: 5px;
    }
    
}
@media(min-width: 481px) and (max-width: 768px){
    .resumeImg{
        width: 80%;
        height: auto;
    }
    .downloadbtn{
        width: 100px;
        height: 40px;
    }
    h1,p{
        text-align: center;
        padding: 5px;
    }
}