.connectPageTitle{
    font-size: 3rem;
    margin-bottom: 1rem;
}
.connectPageSubtitle{
    font-weight: 300;
    font-size: 1rem;
}
.connectPageLink{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#connectPage{
    padding: 2rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 25%;
}
/* Responsive styles for 720px screens */
@media screen and (max-width: 720px) {
    .connectPageTitle {
        font-size: 2.5rem;
    }

    .connectPageSubtitle {
        font-size: 1rem;
    }

    .connectPageLink {
        margin: 1rem auto;
        padding: 10px;
        width: 80%;
        display: block;
        text-align: center;
    }
}

/* Responsive styles for 480px screens */
@media screen and (max-width: 480px) {
    .contactForm {
        width: 90%; /* Adjust width for smaller screens */
        margin: auto;
    }

    .sendbtn {
        width: 80%;
        display: block;
        margin: auto;
    }

    .connectPageTitle {
        font-size: 1.8rem;
        text-align: center;
    }

    .connectPageSubtitle {
        font-size: 0.9rem;
        text-align: center;
        padding: 0 10px; /* Prevents text from stretching edge-to-edge */
    }

    .connectPageLink {
        margin: auto;
        padding-inline: 15%;
        display: block;
        width: 100%;
        text-align: center;
    }
}
@media(min-width: 481px) and (max-width: 768px){
    .contactForm {
        width: 90%; /* Adjust width for smaller screens */
        margin: auto;
    }

    .sendbtn {
        width: 80%;
        display: block;
        margin: auto;
    }

    .connectPageTitle {
        font-size: 1.8rem;
        text-align: center;
    }

    .connectPageSubtitle {
        font-size: 0.9rem;
        text-align: center;
        padding: 0 10px; /* Prevents text from stretching edge-to-edge */
    }

    .connectPageLink {
        margin: auto;
        padding-inline: 15%;
        display: block;
        width: 100%;
        text-align: center;
    }

}
/* @media screen  and (max-width:480px){
    .connectPageTitle{
        font-size: 1.5rem;
    }
    .connectPageSubtitle{
        font-size: 0.8rem;
    }
    .connectPageLink{
        margin: 50%;
        padding-inline: 20%;
    }
    
} */